body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 95vh;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input {
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputs {
    margin-left: 10px;
}

input {
    width: 25vw;
    height: 2.5vh;
}